<div id="homeSocial" class="home-social">
	<div class="container">
		<h2 class="home-social__title">Follow The</h2>
	</div>
	<header class="home-social__hdr container">
		<div class="home-social__spark-rev">
			<div class="ir ir--spark-rev is-loading">
				<img class="lazyload" data-srcset="{{ 'sparkle-revolution-02.png' | asset_img_url: '713x' }} 1x, {{ 'sparkle-revolution-02.png' | asset_img_url: '1428x'}} 2x" alt="Sparkle Revolution" title="Sparkle Revolution">
			</div>
		</div>
		<h3 class="home-social__handle">@petitenpretty</h3>
	</header>
	<div class="container">
		<div class="home-social__carousel-container is-loading">
			{% include 'home-social-yotpo-embed' %}
		</div>
	</div>
</div>