<div class="container banner-newsletter-container hide-desktop">
	<div class="banner-newsletter__inner">
		{% include 'newsletter-form', namespace: 'banner', desc: 'Banner Newsletter Form' %}
	</div>
</div>