<section class="related">
	<div class="container">
		<div class="related-wrap">
			<header class="related__hdr">
				<h1 class="related__title-top multicolor-title">More To <br />Love...</h1>
			</header>
			<div id="relatedList" class="related__list products">
				{{- relatedProducts -}}
				<div class="related__buttons ir ir--product phone-only">
					<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous" id="flickPrev"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button>

					<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next" id="flickNext"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
				</div>
			</div>
		</div>
	</div>
</section>