<div class="container">
	<div class="container__inner">
		container
	</div>
</div>

<div class="container container--header">
	<div class="container__inner">
		container container--header
	</div>
</div>

<div class="container container--narrow">
	<div class="container__inner">
		container container--narrow
	</div>
</div>

<div class="container container--wide">
	<div class="container__inner">
		container container--wide
	</div>
</div>