<aside id="modalSample" class="modal js-modal">
	<div class="modal__inner">
		<button type="button" class="modal__close btn-icon js-modal-close">
			<span class="screenreader">Close</span>
			<i class="icon icon--close"></i>
		</button>
		<header class="modal__header">
			<h3>Modal Header</h3>
		</header>
		<div class="modal__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula, turpis et hendrerit commodo, massa purus pellentesque orci, vulputate blandit ipsum velit nec libero. Nam tristique eleifend enim.</p>
		</div>
	</div>
</aside>
<div id="modalSampleOverlay" class="modal-overlay"></div>