<div id="acc" class="acc">
	<button id="acc-button-1" type="button" class="acc__btn js-acc-btn">
		<span class="acc__title">
			Button 1
		</span>
	</button>
	<div class="acc__menu js-acc-menu">
		<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
		<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
	</div>
	<button type="button" class="acc__btn js-acc-btn">
		<span class="acc__title">
			Button 2
		</span>
	</button>
	<div class="acc__menu js-acc-menu">
		<button type="button" class="acc__btn js-acc-btn">
			<span class="acc__title">
				Button 2 a
			</span>
		</button>
		<div class="acc__menu js-acc-menu">
			<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
		</div>
		<button type="button" class="acc__btn js-acc-btn">
			<span class="acc__title">
				Button 2 b
			</span>
		</button>
		<div class="acc__menu js-acc-menu">
			<button type="button" class="acc__btn js-acc-btn">
				<span class="acc__title">
					Button 2 ermagherd a
				</span>
			</button>
			<div class="acc__menu js-acc-menu">
				<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
			</div>
			<button type="button" class="acc__btn js-acc-btn">
				<span class="acc__title">
					Button 2 ermagherd b
				</span>
			</button>
			<div class="acc__menu js-acc-menu">
				<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
			</div>
		</div>
	</div>
	<button type="button" class="acc__btn js-acc-btn">
		<span class="acc__title">
			Button 3
		</span>
	</button>
	<div class="acc__menu js-acc-menu">
		<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
		<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
		<p>Vehicula nec, a vel penatibus amet diam, lobortis semper platea proin scelerisque scelerisque, faucibus pariatur non quis, convallis id inceptos suspendisse nunc bibendum. Id porttitor ac, morbi erat fusce.</p>
	</div>
</div>