/**
 * Custom Styles for icons from lib-icon
 */

.lib-icon {
	
	&--small {
		font-size: 3.5px;
	}

	&--smaller {
		font-size: 2.25px;
	}

	&--mobile {
		
		@include apply-to(mobile) {
			font-size: 1.6px;
		}
	}
}