/*
///////////////////////////////////////////////////////////
Load More
///////////////////////////////////////////////////////////
*/
 .load-more {
	 clear:both;
	 font-size:rem(16);
	 text-align:center;
	 width:100%;

	 &__btn {
		 max-width:em(256);
		 width:100%;
	 }
 }
