/*
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------
Product
Product Item
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------

///////////////////////////////////////////////////////////
Product
///////////////////////////////////////////////////////////
*/
.products {
	@extend %clearfix;
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	padding: 0 rem(30);
	text-align: left;
	transition: margin $normal-timer $ease-1;

	@include apply-to(tablet) {
		margin: 0 0 0 rem(-20);
		padding: 0;
	}

	.pi {

		@include apply-to(tablet) {
			margin-bottom: rem(35);
			width: 50%;
		}

		@include apply-to(desktop) {
			width: 33%;
			margin-bottom: rem(40);
		}
	}
}

/*
///////////////////////////////////////////////////////////
Product Item
///////////////////////////////////////////////////////////
*/
.pi {
	display: inline-block;
	font-size: rem(16);
	padding: 0 0 em(20);
	position: relative;
	transition: padding $normal-timer $ease-1;
	vertical-align: top;
	width: 100%;

	@include apply-to(tablet) {
		padding: 0 0 em(50) em(30);
		width: 33.332%;
	}

	// .pi__img
	&__img {
		margin: 0;
		position: relative;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;

		@include apply-to(tablet) {
			flex-wrap: nowrap;
		}
	}

	&__action {
		margin-top: rem(20);

		@include apply-to(tablet) {
			bottom: 0;
			left: em(30);
			margin-top: 0;
			position: absolute;
		}

	}

	&__new-shade {
		bottom: rem(7);
		color: $pink-1;
		font-size: rem(14);
		font-style: italic;
		position: absolute;
		right: rem(10);
	}

	// .pi__desc
	&__desc {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: em(20) 0;
		text-align: left;

		@include apply-to(tablet) {
			flex-direction: column;
			padding: em(20) 0;
		}
		@include apply-to(desktop) {
			flex-direction: row;
			padding: em(20) 0 em(15);
		}
	}

	// .pi__title
	&__title {
		align-items: center;
		color: $gray-4;
		display: flex;
		font-size: em(20);
		font-style: italic;
		font-weight: $medium;
		margin: 0;

		@include apply-to(tablet) {
			font-size: em(18);
		}
		@include apply-to(desktop) {
			font-size: em(22);
		}
	}

	// .pi__details
	&__details {
		color: $gray-3;
		font-size: em(14);
		font-size: em(13);
		margin: 0;
		padding-top: 0;
		width: 75%;

		p {
			margin: 0;
		}

		@include apply-to(tablet) {
			padding-top: rem(5);
			width: 100%;
		}
		@include apply-to(desktop) {
			font-size: em(14);
			width: 75%;
		}
	}

	// .pi__price
	&__price {
		font-size: rem(18);
		margin: rem(5) 0 rem(10);
		width: 100%;
	}

	&__price-compare {
		font-size: rem(14);
	}

	&__link {
		display: block;

		img {
			bottom: 0;
			left: 0;
			position: absolute;
			transform: translate3d(0,0,0);
		}
	}

	// .pi__swatches
	&__swatches {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;

		@include apply-to(tablet) {
			justify-content: flex-end;
			order: 1;
		}

		@include apply-to(desktop) {
			flex-wrap: nowrap;
			order: 0;
		}

		li {
			padding: 0;
			position: relative;

			&.is-active {

				label {

					&::after {
					}
				}

				.pi__swatch-border {
					width: rem(22);
				}
			}

			&::after {
			}
		}

		label {
			border-radius: 50%;
			height: rem(22);
			margin: 0;
			margin-right: rem(10);
			overflow: hidden;
			position: relative;
			width: rem(22);

			@include apply-to(tablet) {
				margin-left: rem(8);
				margin-right: 0;
			}

			&::after {
			}
		}
	}

	// .pi__swatches
	&__swatches-mobile {
		margin: rem(15) 0 0;
		width: 100%;
	}

	// .pi__swatch <img>
	&__swatch {
		border-radius: 100%;
		cursor: pointer;
		display: block;
		height: rem(22);
		overflow: hidden;
		width: rem(22);
	}

	// .pi__swatch-border
	&__swatch-border {
		background-color: $pink-8;
		bottom: rem(-8);
		display: block;
		height: rem(2);
		left: 0;
		margin-right: rem(11);
		position: absolute;
		transition: all $fast-timer $ease-1;
		width: 0;

		@include apply-to(tablet) {
			margin-left: rem(10);
			margin-right: 0;
		}
	}
}