/**
 * Intrinsic Ratio Full
 * @param $ratio	Aspect ratio (ex. 16/9)
 * @param $width	Custom width (Optional)
 */
@mixin ir($ratio, $width: 100) {
	position:relative;
	width: $width * 1%;
	height: 0;
	overflow: hidden;
	padding-bottom: ($width / $ratio) * 1%;
}

/**
 * Intrinsic Ratio Base
 */
@mixin irb() {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
}

/**
 * Intrinsic ratio padding
 * @param $ratio	Aspect ratio (ex. 16/9)
 * @param $width	Custom width (Optional)
 */
@mixin irp($ratio, $width: 100) {
	padding-bottom: ($width / $ratio) * 1%;
}