/*
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------
Helpers
--------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
*/
.cf,
.group {
	@include clearfix;
}

.hide {
	display:none;
}

.hide-desktop-and-tablet {

	@include apply-to(tablet) {
		display: none !important;
	}
}

.show {
	display:block;
}

.show-inline {
	display:inline-block;
}

.list-reset {
	font-size:1em;
	list-style:none;
	margin:0;
	padding:0;
}

.title,
.page-title {
}

.pull-left {
	float:left;

	&__list {
		li {
			float: left;
		}
	}
}

.pull-right {
	float:right;
}

.screenreader {
	left: -3000px;
	position: absolute;
}

.sr-only {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

hr,
.hr {
	background:$pink-1;
	border:0;
	height:em(1);
	margin:em(20) 0;

	@include apply-to(desktop) {
		margin:em(30) 0;
	}
}

.width-100 {
	width: 100%;
}

.m0 {
	margin:0;
}

.underline {
	text-decoration: underline;
}

.skip-link {
	&:focus {
		background-color: $white;
		font-size: rem(14);
		left: 0;
		padding: rem(7) rem(16) rem(6);
		z-index: z(skip-link);
	}
}
