/*
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------

1. Box Sizing
2. Microsoft Surface Viewport Hack
3. Focus for keyboard vs input

////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------

//////////////////////////////////////////////////////////////////////
1. Box Sizing
//////////////////////////////////////////////////////////////////////
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
//////////////////////////////////////////////////////////////////////
2. Microsoft Surface Viewport Hack
//////////////////////////////////////////////////////////////////////
*/
@-ms-viewport {
	width: device-width;
}

/*
//////////////////////////////////////////////////////////////////////
3. Focus for keyboard vs input
//////////////////////////////////////////////////////////////////////
*/
[data-whatinput='mouse'] button:focus,
[data-whatinput='mouse'] input:focus,
[data-whatinput='mouse'] select:focus,
[data-whatinput='mouse'] a:focus,
[data-whatinput='mouse'] textarea:focus {
	outline:none;
}