/**
 * Brand Touts
 */

.b-touts {
	// .b-touts__inner
	&__inner {
		@include apply-to(tablet) {
			display: flex;
		}
	}

	// .b-touts__item
	&__item {
		margin-bottom: em(35);

		@include apply-to(tablet) {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
			padding-right: em(30);
			width: 33.33%;

			&:last-child {
				padding-right: 0;
			}
		}
	}

	// .b-touts__img-wrap
	&__img-wrap {
		min-height: em(120);
		text-align: center;
	}

	// .b-touts__title
	&__title {
		font-size: em(21);
		font-weight: $medium;
		text-align: center;
	}

	// .b-touts__desc
	&__desc {
		font-size: em(14);
		margin: 0 auto;
		max-width: em(310);
		color: $gray-3;
	}

	&__container {
		padding-bottom: em(50);
		padding-top: em(15);

		@include apply-to(tablet) {
			padding-bottom: em(90);
		}

		@include apply-to(desktop) {
			padding-bottom: em(95);
			padding-top: 0;
		}
	}

	// .b-touts .lib-icon
	.lib-icon {
		&--small {
			font-size: 3.5px;
		}
	}

}

.home-brand-touts {
	@include apply-to(tablet-only) {
		background: $pink-9;
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFFFF 100%), url(asset('bg-pink-light.jpg'));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFFFF 100%), url(asset('bg-pink-light.jpg'));
		background: -o-linear-gradient(top, rgba(255,255,255,0), #FFFFFF 100%), url(asset('bg-pink-light.jpg'));
		background: -ms-linear-gradient(top, rgba(255,255,255,0), #FFFFFF 100%), url(asset('bg-pink-light.jpg'));
		background: linear-gradient(to bottom, rgba(255,255,255,0), #FFFFFF 100%), url(asset('bg-pink-light.jpg'));
		background-size: auto auto, rem(150);
	}


}
