/* Core */
/**
 * Functions
 */
/**
 * pixels to em
 */
/**
 * pixels to rem
 */
/**
 * Asset Url
 */
/**
 * z-index sass map
 */
/**
 * Vars
 */
/**
 * Breakpoints
 * @description		Used for media queries
 */
/**
 * Color Variables
 */
/**
 * Color Samples
 * @description 	Used in variable-menu/_colors.scss to generate class names
 */
/**
 * Form Variables
 */
/**
 * header height
 */
/**
 * header height
 */
/**
 * footer height
 */
/**
 * Page Gutters
 */
/**
 * intrinsic ratios
 */
/**
 * Font Families
 */
/**
 * Font Weights
 */
/**
 * Font Sizes
 */
/**
 * Line Heights
 */
/**
 * Timers
 */
/**
 * easing
 */
/**
 * z-index
 */
/**
 * account vars (settings)
 */
/**
 * Mixins
 */
/**
 * Apply To
 * @param {string} $device
 */
/**
 * Max width media query
 * @param {string} $val (ex. 768px)
 */
/**
 * Min width media query
 * @param {string} $val (ex. 768px)
 */
/**
 * Set Default Query Order
 * Needed for the mqpacker gulp task to ensure the correct order is always in place.
 */

/**
 * Clearfix
 */
/**
 * Remove Clearfix
 */
/**
 * Placeholder
 */
/**
 * Intrinsic Ratio Full
 * @param $ratio	Aspect ratio (ex. 16/9)
 * @param $width	Custom width (Optional)
 */
/**
 * Intrinsic Ratio Base
 */
/**
 * Intrinsic ratio padding
 * @param $ratio	Aspect ratio (ex. 16/9)
 * @param $width	Custom width (Optional)
 */
/**
 * Letter Spacing
 * @param {number} $tracking 	Based on Photoshop's tracking value.
 * @param {number} $font-size
 */
/**
 * Gutters
 * @description - Used to add padding left and right to a container.
 */
/**
 * Media Query Style
 */
/**
 * white theme
 */
/**
 * Placeholders
 */
/**
 * Loading
 */
/**
 * Text Replacement
 */
/* Components */
.article {
  padding-top: 1.875rem;
}

.article__heading {
  text-align: center;
  display: block;
  margin-bottom: 3.75rem;
}

.article__content {
  padding-top: 2.625rem;
}

.article__content p {
  font-size: 1rem;
  font-family: "Gotham", sans-serif;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 2.5rem;
}

.article__content p:first-child {
  margin-top: 0;
}

.article__content ul,
.article__content ol {
  padding-left: 1.25rem;
}

.article__content li {
  font-family: "Gotham", sans-serif;
  font-weight: 100;
  margin-bottom: 0;
  padding-bottom: 0.3125rem;
  font-size: 1rem;
  color: inherit;
}

.article__title {
  margin: 0;
  font-style: normal;
}

.article__date {
  margin-bottom: 2.1875rem;
  font-size: 1rem;
  font-family: courier;
  color: #8a8a8a;
}

.article__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  max-width: 250px;
  padding-top: 4.0625rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.article__item {
  font-size: 1rem !important;
}

.article__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding-top: 3.125rem;
  padding-bottom: 1.8125rem;
}

.article__pagination-previous, .article__pagination-next {
  display: block;
  text-transform: uppercase;
  font-size: 0.6875rem;
  color: #636262;
  font-family: "Gotham", sans-serif;
  font-weight: 100;
}

.article__pagination-previous {
  text-align: left;
}

.article__pagination-next {
  text-align: right;
}

.article__pagination--size {
  padding-top: 0.625rem;
  display: block;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #636262;
}

.blogs__heading {
  border-bottom: 4px solid #ed3fa8;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.blogs__heading h1 {
  color: #ed3fa8;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

/* Icons */
/**
 * SVG Template
 * Do not edit this file, used for gulp svg plugin
 */
.icon {
  display: inline-block;
}

.icon::before {
  background-image: url(' {{ "sprite-icon-aeb32a2d.svg" | asset_url }} ');
  background-repeat: no-repeat;
  background-size: 25em 301.4375em;
  content: "";
  display: block;
  font-size: 1em;
}

.icon--inline::before {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.icon--1-star::before {
  background-position: 0em 0em;
  width: 7.875em;
  height: 7.9375em;
}

.icon--2-stars::before {
  background-position: 0em -7.9375em;
  width: 8.6875em;
  height: 9.25em;
}

.icon--3-stars::before {
  background-position: 0em -17.1875em;
  width: 11.75em;
  height: 13.25em;
}

.icon--3-stars-reverse::before {
  background-position: 0em -30.4375em;
  width: 11.75em;
  height: 13.25em;
}

.icon--arrow-left::before {
  background-position: 0em -43.6875em;
  width: 4.75em;
  height: 1.75em;
}

.icon--arrow-right::before {
  background-position: 0em -45.4375em;
  width: 4.75em;
  height: 1.75em;
}

.icon--carrots-left::before {
  background-position: 0em -47.1875em;
  width: 1.4375em;
  height: 2em;
}

.icon--carrots-right::before {
  background-position: 0em -49.1875em;
  width: 1.375em;
  height: 2.0625em;
}

.icon--cart-pink::before {
  background-position: 0em -51.25em;
  width: 1.9375em;
  height: 2.1875em;
}

.icon--cart-white::before {
  background-position: 0em -53.4375em;
  width: 1.9375em;
  height: 2.1875em;
}

.icon--checkbox-off::before {
  background-position: 0em -55.625em;
  width: 2em;
  height: 2em;
}

.icon--checkbox-on::before {
  background-position: 0em -57.625em;
  width: 2em;
  height: 2em;
}

.icon--down-arrow::before {
  background-position: 0em -59.625em;
  width: 1.4375em;
  height: 1.0625em;
}

.icon--down-carrot-gray::before {
  background-position: 0em -60.6875em;
  width: 1.4375em;
  height: 1.0625em;
}

.icon--down-carrot-white::before {
  background-position: 0em -61.75em;
  width: 1.5em;
  height: 1.125em;
}

.icon--facebook::before {
  background-position: 0em -62.875em;
  width: 1.3125em;
  height: 2.125em;
}

.icon--facebook-gray::before {
  background-position: 0em -65em;
  width: 1.3125em;
  height: 2.125em;
}

.icon--flag-110-value::before {
  background-position: 0em -67.125em;
  width: 24.9375em;
  height: 22.5625em;
}

.icon--flag-150-value::before {
  background-position: 0em -89.6875em;
  width: 24.9375em;
  height: 22.5625em;
}

.icon--flag-178-value::before {
  background-position: 0em -112.25em;
  width: 24.9375em;
  height: 22.5625em;
}

.icon--flag-48-value::before {
  background-position: 0em -134.8125em;
  width: 24.9375em;
  height: 22.5625em;
}

.icon--flag-86-value::before {
  background-position: 0em -157.375em;
  width: 24.9375em;
  height: 22.5625em;
}

.icon--flag-limited-edition::before {
  background-position: 0em -179.9375em;
  width: 25em;
  height: 22.4375em;
}

.icon--flag-spooky::before {
  background-position: 0em -202.375em;
  width: 8em;
  height: 8.4375em;
}

.icon--instagram::before {
  background-position: 0em -210.8125em;
  width: 2.125em;
  height: 2.0625em;
}

.icon--instagram-gray::before {
  background-position: 0em -212.875em;
  width: 2.125em;
  height: 2.0625em;
}

.icon--logo::before {
  background-position: 0em -214.9375em;
  width: 20.375em;
  height: 4.5em;
}

.icon--logo-1-line-white::before {
  background-position: 0em -219.4375em;
  width: 16.3125em;
  height: 3.625em;
}

.icon--logo-2-lines::before {
  background-position: 0em -223.0625em;
  width: 11.125em;
  height: 5.875em;
}

.icon--logo-white::before {
  background-position: 0em -228.9375em;
  width: 20.375em;
  height: 4.5em;
}

.icon--minus::before {
  background-position: 0em -233.4375em;
  width: 0.9375em;
  height: 0.5625em;
}

.icon--ok-hand::before {
  background-position: 0em -234em;
  width: 17.125em;
  height: 25.25em;
}

.icon--pink-check::before {
  background-position: 0em -259.25em;
  width: 1.25em;
  height: 1.0625em;
}

.icon--pinterest::before {
  background-position: 0em -260.3125em;
  width: 1.8125em;
  height: 2.125em;
}

.icon--pinterest-gray::before {
  background-position: 0em -262.4375em;
  width: 1.8125em;
  height: 2.125em;
}

.icon--play-button::before {
  background-position: 0em -264.5625em;
  width: 1.375em;
  height: 2em;
}

.icon--plus::before {
  background-position: 0em -266.5625em;
  width: 0.9375em;
  height: 0.9375em;
}

.icon--share-it::before {
  background-position: 0em -267.5em;
  width: 2.125em;
  height: 1.875em;
}

.icon--snowflakes::before {
  background-position: 0em -269.375em;
  width: 13.3125em;
  height: 14.625em;
}

.icon--trash::before {
  background-position: 0em -284em;
  width: 1.4375em;
  height: 1.75em;
}

.icon--twitter::before {
  background-position: 0em -285.75em;
  width: 2.3125em;
  height: 1.9375em;
}

.icon--twitter-gray::before {
  background-position: 0em -287.6875em;
  width: 2.3125em;
  height: 1.9375em;
}

.icon--x::before {
  background-position: 0em -289.625em;
  width: 1.4375em;
  height: 1.4375em;
}

.icon--x-large::before {
  background-position: 0em -291.0625em;
  width: 2.375em;
  height: 2.375em;
}

.icon--x-white::before {
  background-position: 0em -293.4375em;
  width: 1.5em;
  height: 1.5em;
}

.icon--youtube::before {
  background-position: 0em -294.9375em;
  width: 2.625em;
  height: 2em;
}

.icon--youtube-gray::before {
  background-position: 0em -296.9375em;
  width: 2.625em;
  height: 2em;
}

.icon--zoom::before {
  background-position: 0em -298.9375em;
  width: 2.5em;
  height: 2.5em;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 554px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: smaller-phone) {

}

@media only screen and (max-width: 374px) {

  .article__title {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (min-width: 768px) and (max-width: 979px) {

}

@media only screen and (min-width: 980px) {

}

@media only screen and (min-width: 1025px) {

  .article {
    padding-top: 3.75rem;
  }
  .article__content {
    padding-top: 5.3125rem;
  }
  .article__content p {
    font-size: 1.375rem;
  }
  .article__content li {
    font-size: 1.375rem;
  }
  .article__main {
    max-width: 61.0625em;
    margin: 0 auto;
  }
  .article__title {
    font-size: 2.5625rem;
  }
  .article__pagination {
    padding-bottom: 3.625rem;
    padding-top: 5.9375rem;
  }
  .article__pagination-previous, .article__pagination-next {
    font-size: 1.375rem;
  }
  .article__pagination--size {
    font-size: 1.875rem;
  }
  .blogs__heading {
    max-width: 61.0625em;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1281px) {

}

@media only screen and (min-width: 1401px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1400px) {

}

/*# sourceMappingURL=article.css.map */