/**
 * core
 */
/**
 * Functions
 */
/**
 * pixels to em
 */
/**
 * pixels to rem
 */
/**
 * Asset Url
 */
/**
 * z-index sass map
 */
/**
 * Vars
 */
/**
 * Breakpoints
 * @description		Used for media queries
 */
/**
 * Color Variables
 */
/**
 * Color Samples
 * @description 	Used in variable-menu/_colors.scss to generate class names
 */
/**
 * Form Variables
 */
/**
 * header height
 */
/**
 * header height
 */
/**
 * footer height
 */
/**
 * Page Gutters
 */
/**
 * intrinsic ratios
 */
/**
 * Font Families
 */
/**
 * Font Weights
 */
/**
 * Font Sizes
 */
/**
 * Line Heights
 */
/**
 * Timers
 */
/**
 * easing
 */
/**
 * z-index
 */
/**
 * account vars (settings)
 */
/**
 * Mixins
 */
/**
 * Apply To
 * @param {string} $device
 */
/**
 * Max width media query
 * @param {string} $val (ex. 768px)
 */
/**
 * Min width media query
 * @param {string} $val (ex. 768px)
 */
/**
 * Set Default Query Order
 * Needed for the mqpacker gulp task to ensure the correct order is always in place.
 */

/**
 * Clearfix
 */
/**
 * Remove Clearfix
 */
/**
 * Placeholder
 */
/**
 * Intrinsic Ratio Full
 * @param $ratio	Aspect ratio (ex. 16/9)
 * @param $width	Custom width (Optional)
 */
/**
 * Intrinsic Ratio Base
 */
/**
 * Intrinsic ratio padding
 * @param $ratio	Aspect ratio (ex. 16/9)
 * @param $width	Custom width (Optional)
 */
/**
 * Letter Spacing
 * @param {number} $tracking 	Based on Photoshop's tracking value.
 * @param {number} $font-size
 */
/**
 * Gutters
 * @description - Used to add padding left and right to a container.
 */
/**
 * Media Query Style
 */
/**
 * white theme
 */
/**
 * Placeholders
 */
/**
 * Loading
 */
/**
 * Text Replacement
 */
/**
 * components
 */

.faq__sidebar {
  max-width: 17.125em;
  padding-right: 0.625em;
  position: relative;
  width: 100%;
}

.faq__sidebar-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.faq__sidebar-inner.is-fixed {
  position: fixed;
  top: 10.125em;
}

.faq__sidebar-inner.is-bottom {
  bottom: 0;
  position: absolute;
}

.faq__link {
  padding-bottom: 1.125em;
  text-decoration: underline;
}

.faq__acc {
  position: relative;
}

.faq__answer {
  font-size: 0.875em;
  margin-bottom: 0em;
}

.faq__element {
  position: absolute;
}

.faq__element--license-plate {
  bottom: 0.4375em;
  right: -2.9375em;
}

.faq__element--license-plate .lib-icon {
  font-size: 3.3px;
  -webkit-transform: rotate(17deg);
          transform: rotate(17deg);
}

.faq__element--peace {
  left: -3.125em;
  top: -2.5em;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.faq__element--peace .lib-icon {
  font-size: 3px;
}

.faq__element--3-stars {
  bottom: 1.25em;
  right: -3.125em;
}

.faq__element--3-stars .icon {
  font-size: 4px;
}

.faq__element--3-stars-flipped {
  bottom: -0.3125em;
  left: -2.8125em;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.faq__element--3-stars-flipped .icon {
  font-size: 4px;
}

.faq__group-title {
  font-size: 1.375em;
  margin: 0;
}

.faq__heading {
  padding-bottom: 1.8125em;
  position: relative;
}

.faq__header {
  padding-top: 3.5em;
  text-align: center;
}

.faq__icon {
  bottom: 0;
  height: 1.0625em;
  margin: auto 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  width: 1.4375em;
}

.faq__heading.is-active .faq__icon {
  -webkit-transform: rotate3d(-1, 0, 0, 180deg);
          transform: rotate3d(-1, 0, 0, 180deg);
}

.faq__item {
  padding-bottom: 1.875em;
}

.faq__item:last-child {
  padding: 0;
}

.faq__menu {
  max-width: 51.3125em;
  padding-left: 0.875em;
  padding-top: 2.5em;
  padding-top: 0.625em;
}

.faq__question {
  font-size: 1.125em;
  margin: 0 0 0.38889em;
}

.faq__title {
  font-size: 2.375em;
  margin: 0;
  padding-bottom: 1.375rem;
}

.faq__subtitle {
  font-size: 0.8125em;
}

/**
 * Icons
 */
/**
 * SVG Template
 * Do not edit this file, used for gulp svg plugin
 */
.lib-icon {
  display: inline-block;
}

.lib-icon::before {
  background-image: url(' {{ "sprite-lib-icon-90af91bb.svg" | asset_url }} ');
  background-repeat: no-repeat;
  background-size: 55.1875em 851.8125em;
  content: "";
  display: block;
  font-size: 1em;
}

.lib-icon--inline::before {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.lib-icon--alcohol-free::before {
  background-position: 0em 0em;
  width: 22.875em;
  height: 29em;
}

.lib-icon--brush::before {
  background-position: 0em -29em;
  width: 31.0625em;
  height: 25.125em;
}

.lib-icon--cherries::before {
  background-position: 0em -54.125em;
  width: 23.5em;
  height: 27.125em;
}

.lib-icon--cloud-mine::before {
  background-position: 0em -81.25em;
  width: 38.0625em;
  height: 26.125em;
}

.lib-icon--clouds::before {
  background-position: 0em -107.375em;
  width: 55.1875em;
  height: 26.5em;
}

.lib-icon--cotton-candy::before {
  background-position: 0em -133.875em;
  width: 26.9375em;
  height: 28.8125em;
}

.lib-icon--cruelty-free::before {
  background-position: 0em -162.6875em;
  width: 38.5em;
  height: 24.5em;
}

.lib-icon--diamond::before {
  background-position: 0em -187.1875em;
  width: 22.1875em;
  height: 24.5625em;
}

.lib-icon--fireworks::before {
  background-position: 0em -211.75em;
  width: 31.375em;
  height: 33.1875em;
}

.lib-icon--flowers::before {
  background-position: 0em -244.9375em;
  width: 27em;
  height: 31.25em;
}

.lib-icon--gluten-free::before {
  background-position: 0em -276.1875em;
  width: 23.4375em;
  height: 23.6875em;
}

.lib-icon--grapefruit::before {
  background-position: 0em -299.875em;
  width: 26.625em;
  height: 22.8125em;
}

.lib-icon--heart-flower::before {
  background-position: 0em -322.6875em;
  width: 29.75em;
  height: 33.5625em;
}

.lib-icon--ice-cream::before {
  background-position: 0em -356.25em;
  width: 19.875em;
  height: 26.625em;
}

.lib-icon--la::before {
  background-position: 0em -382.875em;
  width: 34.1875em;
  height: 28.875em;
}

.lib-icon--license-plate::before {
  background-position: 0em -411.75em;
  width: 37.8125em;
  height: 21.1875em;
}

.lib-icon--megaphone::before {
  background-position: 0em -432.9375em;
  width: 28em;
  height: 27.6875em;
}

.lib-icon--nut-cracked::before {
  background-position: 0em -460.625em;
  width: 20.5625em;
  height: 28.1875em;
}

.lib-icon--nut-cracked-flat::before {
  background-position: 0em -488.8125em;
  width: 28.25em;
  height: 19.875em;
}

.lib-icon--nut-xray::before {
  background-position: 0em -508.6875em;
  width: 23.9375em;
  height: 32.6875em;
}

.lib-icon--ok::before {
  background-position: 0em -541.375em;
  width: 19.625em;
  height: 28.625em;
}

.lib-icon--omg-yes::before {
  background-position: 0em -570em;
  width: 34.125em;
  height: 30.0625em;
}

.lib-icon--paraben-free::before {
  background-position: 0em -600.0625em;
  width: 18.8125em;
  height: 34.75em;
}

.lib-icon--peace::before {
  background-position: 0em -634.8125em;
  width: 13.125em;
  height: 27.6875em;
}

.lib-icon--peace-sign::before {
  background-position: 0em -662.5em;
  width: 10.125em;
  height: 20.8125em;
}

.lib-icon--phthalate-free::before {
  background-position: 0em -683.3125em;
  width: 25.875em;
  height: 33.8125em;
}

.lib-icon--stethoscope::before {
  background-position: 0em -717.125em;
  width: 26.5em;
  height: 28.0625em;
}

.lib-icon--sun::before {
  background-position: 0em -745.1875em;
  width: 30.1875em;
  height: 31em;
}

.lib-icon--sunglasses::before {
  background-position: 0em -776.1875em;
  width: 28.6875em;
  height: 21.125em;
}

.lib-icon--teardrop::before {
  background-position: 0em -797.3125em;
  width: 19em;
  height: 29.875em;
}

.lib-icon--vegan::before {
  background-position: 0em -827.1875em;
  width: 26.25em;
  height: 24.625em;
}

@media only screen and (max-width: 1024px) {

  .faq {
    padding-bottom: 5.25em;
  }
  .faq__heading {
    border-top: 1px solid #e2e2e2;
    padding-bottom: 1.25em;
    padding-left: 0.625em;
    padding-top: 1.25em;
  }
  .faq__header {
    padding-top: 0.3125em;
  }
  .faq__title {
    font-size: 1.5625em;
    font-weight: 700;
  }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 554px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: smaller-phone) {

}

@media only screen and (max-width: 374px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .faq {
    padding-left: 5.125em;
    padding-right: 4.625em;
  }
  .faq__heading {
    padding-left: 0.1875em;
  }
  .faq__menu {
    padding-left: 0.3125em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

}

@media only screen and (min-width: 980px) {

}

@media only screen and (min-width: 1025px) {

  .faq__container {
    padding: 0 2.1875em;
  }
  .faq__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 6.1875em;
    padding-top: 1.875em;
  }
  .faq__heading {
    margin-top: -10.125em;
    padding-top: 10.125em;
  }
  .faq__icon {
    display: none;
  }
  .faq__menu {
    display: block !important;
    height: auto !important;
    padding: 0 0 3.6875em !important;
    visibility: visible;
  }
}

@media only screen and (min-width: 1281px) {

}

@media only screen and (min-width: 1401px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1400px) {

}

/*# sourceMappingURL=faq.css.map */