/**
 * docs
 */

// container
.docs {
	display: flex;
	flex-direction: column;

	@include apply-to(tablet) {
		flex-direction: row;
	}
}

// sidebar
.docs-sidebar {
	border-bottom: 1px solid #eee;
	width: 100%;

	@include apply-to(tablet) {
		border-bottom: 0;
		border-right: 1px solid #eee;
		width: em(150);
	}

	@include apply-to(tablet) {
		width: em(220);
	}
}

// nav
.docs-nav {
	padding-top: em(20);

	// .docs-nav__list
	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	// .docs-nav__item
	&__item {
		margin-bottom: em(10);

		@include apply-to(tablet) {
			margin-bottom: 0;
			width: 100%;
		}

		// .docs-nav__item--group-name
		&--group-name {
			width: 100%;

			@include apply-to(tablet) {
				margin-bottom: em(5);
			}
		}
	}

	// .docs-nav__link
	&__link {
		display: block;
		padding: em(5) em(15);

		.docs-nav__item--group-name & {
			font-weight: $bold;
			padding: em(5) 0 0;
		}
	}
}

// content
.docs-content {
	padding-top: em(20);
	width: 100%;

	@include apply-to(tablet) {
		padding-left: em(30);
		padding-top: 0;
		width: calc(100% - #{em(150)});
	}

	@include apply-to(desktop) {
		padding-left: em(50);
		width: calc(100% - #{em(220)});
	}
}

// group (category)
.docs-group {

	// .docs-group__hdg
	&__hdg {
		font-size: em(32);
	}

	// .docs-group__content
	&__content {
		padding: em(20) 0;
	}
}

// section
.docs-sec {
	margin-bottom: em(50);

	// .docs-sec__hdg
	&__hdg {
		background-color: #eee;
		border-bottom: 1px solid #ddd;
		margin-bottom: rem(20);
		padding: rem(10) rem(15);
	}
}

// fieldset
.docs-fieldset {
	margin-bottom: em(30);
}