/* Core */
@import "core/core";
@import "style/globals/normalize";
@import "style/globals/normalize-custom";

@import "style/globals/messages";

@font-face {
    font-family: 'Gotham';
    src: url('{{ "Gotham-Book.eot" | asset_url }}');
    src: url('{{ "Gotham-Book.eot" | asset_url }}?#iefix') format('embedded-opentype'),
        url('{{ "Gotham-Book.woff2" | asset_url }}') format('woff2'),
        url('{{ "Gotham-Book.woff" | asset_url }}') format('woff'),
        url('{{ "Gotham-Book.ttf" | asset_url }}') format('truetype'),
        url('{{ "Gotham-Book.svg" | asset_url }}#Gotham-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('{{ "Gotham-Medium.eot" | asset_url }}');
    src: url('{{ "Gotham-Medium.eot" | asset_url }}?#iefix') format('embedded-opentype'),
        url('{{ "Gotham-Medium.woff2" | asset_url }}') format('woff2'),
        url('{{ "Gotham-Medium.woff" | asset_url }}') format('woff'),
        url('{{ "Gotham-Medium.ttf" | asset_url }}') format('truetype'),
        url('{{ "Gotham-Medium.svg" | asset_url }}#Gotham-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('{{ "Gotham-Bold.eot" | asset_url }}');
    src: url('{{ "Gotham-Bold.eot" | asset_url }}?#iefix') format('embedded-opentype'),
        url('{{ "Gotham-Bold.woff2" | asset_url }}') format('woff2'),
        url('{{ "Gotham-Bold.woff" | asset_url }}') format('woff'),
        url('{{ "Gotham-Bold.ttf" | asset_url }}') format('truetype'),
        url('{{ "Gotham-Bold.svg" | asset_url }}#Gotham-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}

img {
	max-width:100%;
	width:100%;
}

/**
 * html / body
 */
html, body {
	height: 100%;
}
html {
	min-height:100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family:'Gotham', sans-serif;
	font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family:'Gotham', sans-serif;
	font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
	font-family:'Gotham', sans-serif;
	font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
	font-family:'Gotham', sans-serif;
	font-weight: 300;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/**
 * body
 */
body {
	background-attachment: fixed;
	background-color: #fabecc;
	background-image: url('{{ "password-background-2.jpg" | asset_url }}');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family:'Gotham', sans-serif;
	font-weight: 300;
	display: flex;
	flex-direction: column;
}

#page-password {
	&.form-visible {
		.pwd__form {
			transform: translateX(0);
		}
	}
}

/**
 * Screenreader
 */
.screenreader {
	left: -3000px;
	position: absolute;
}

/**
 * Form
 */
.form-inline {
	border-width:1px;
	border-style:solid;
	display: flex;

	// .form-inline__input
	&__input {
		flex: 1 0 0%;
	}

	// .form-inline__btn
	&__btn {
		background:transparent;
		border:0;
		padding:em(10) em(15) em(9);
	}
}

/**
 * Icon Arrow
 */
.icon-arrow {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	transform: rotate(-45deg);
}

/**
 * label
 */
label {
	display:inline-block;
	margin-bottom:em(5);
}


/**
 * input
 */
.input {
	background:transparent;
	border: 0;
	border-radius: 0;
	font-size:em(16);
	padding:em(10) em(15) em(9);
	text-align: left;
	width: 100%;

	&:focus {
		outline:none;
	}
}

/**
 * password
 */
.pwd {
	align-items:center;
	display:flex;
	flex: 1 0 auto;
	justify-content:center;
	flex-direction: column;

	&__form {
		position: fixed;
		top: 0;
		right: 0;
		padding-right: em(20);
		padding-top: em(20);
		padding-left: em(5);
		transition: all $fast-timer $ease-1;
		transform: translateX(100%);
	}

	&__btn {
		position: fixed;
		top: 0;
		right: 0;
		width: em(20);
		height: em(20);
		border: 0;
		background: 0;
		padding: 0;
		outline: none;
	}

	&__container {
		max-width:em(480);
		padding:em(20) em(20) em(40);
		width:100%;

		@include apply-to(desktop) {
			padding:em(40) em(40) em(80);
		}
	}

	&__logo {
		margin:0 auto em(15);
		max-width:em(200);
	}
}

/**
 * errors
 */
.errors {
	background-color: $pink-2;
	border-left:5px solid $red-1;
	color: $white;
	@include mqstyle('line-height',$lineheight-p);
	margin-bottom: em(30);
	padding: em(15);
	text-align: left;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

/**
 * Sign up
 */
.pwd-sign-up {
	max-width: em(810);
	padding: 0 em(20);

	@include apply-to(desktop) {
		margin-right: 35%;
	}

	&__logo {
		margin: 0 auto em(20);
		max-width: em(215);

		@include apply-to(tablet) {
			max-width: em(245);
		}

		@include apply-to(desktop) {
			max-width: em(298);
		}
	}

	&__newsletter-form {
		max-width: em(475);
		margin: em(30) auto;
		padding: 0 em(20);

		@include apply-to(desktop) {
			margin: em(50) auto;
			padding: 0;
		}
	}

	&__email-input {
		background: white;
		padding: em(10) em(5);
		position: relative;

		@include apply-to(desktop) {
			padding: em(15) em(10);
		}
	}

	&__label {
		color: $white;
		font-family: 'Gotham', sans-serif;
		font-size: em(16);
		font-weight: 400;
		letter-spacing: em(2);
		text-align: center;
		text-transform: uppercase;
		margin-bottom: em(20);

		i {
			font-weight: 300;

			@include apply-to(mobile) {
				display: block;
				margin-bottom: em(2);
			}
		}
	}

	&__btn {
		position: absolute;
		right: em(-8);
		top: em(18);

		@include apply-to(desktop) {
			right: em(-10);
			top: em(20);
		}
	}

	&__subscribe-btn {
		background: transparent;
		border: 1px solid #ed3fa8;
		color: #ed3fa8;
		cursor: pointer;
		font-family:'Gotham', sans-serif;
		font-size: em(12);
		font-weight: 400;
		padding: em(15,12) em(12,12);
		text-transform: uppercase;

		@include apply-to(desktop) {
			padding: em(20,12) em(30,12);
		}
	}
	&__header {
		text-align: center;

		.coming-soon {
			margin: 0 auto;
			max-width: 70%;

			@include apply-to(desktop) {
				max-width: em(539);
			}
		}
		.sparkle {
			margin-top: em(-20);

			@include apply-to(tablet) {
				margin-top: em(-30);
			}
		}
	}


	.messages {
		padding: em(15) em(25);

		@include apply-to(mobile) {
			text-align: center;
		}
	}
	.message {
		font-weight: 300;
		font-size: em(14);
	}
}