/**
 * Breakpoints
 * @description		Used for media queries
 */
$breakpoint-smallest-phone: 374px;
$breakpoint-smaller-phone: 413px;
$breakpoint-phone: 480px;
$breakpoint-tablet: 767px;
$breakpoint-tablet-portrait: 979px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1280px;
$breakpoint-huge: 1400px;
$breakpoint-yotpo-carousel-phone: 554px;

$break-drawer-full: 418px;
$break-bag-desktop-large: 1270px;
$break-home-image-phone-large: 650px;