/**
 * Color Variables
 */

// Black
$black: #000;

// White
$white: #fff;

// Gray
$gray-1: #464545;
$gray-2: #5e5c5c;
$gray-3: #8b8b8b; // "Made in the 90210", "Cruelty free"
$gray-4: #646464; // "Contact us"
$gray-5: #575558; // "Order number", "select a topic"
$gray-6: #f9f9f9;
$gray-7: #909090; // copyright text
$gray-8: #dfdfdf;
$gray-9: #cbcbcb;
$gray-10: #e2e2e2;
$gray-11: #bddcec;

// Red
$red-1: #e20000;
$red-2: #fbe8e8; // message background

// Pink
$pink-1: #ed3fa8;
$pink-2: #fbe8e8;
$pink-3: #eab9e5;
$pink-4: #fec4d5;
$pink-5: #f4dff2;
$pink-6: #fbf3fc;
$pink-7: #f8e5f5; // "From the founder"
$pink-8: #f2b6ec;
$pink-9: #fefaff;
$pink-10: #ed42a9;
$pink-11: #f8ebf5;
$pink-12: #f6d5e6;
$pink-13: #ebbbe6;
$pink-14: #e9bae4;
$pink-15: #d531d8;

// Green
$green-1: #2e8b57;
$green-2: #e2ffef; // message background

// Blue
$blue-1: #c8f1ff; // Drop-shadow on "What makes us glow"
$blue-2: #92dff9;
$blue-3: #a5dbed;
$blue-4: #dfebf6; // Product image b-g
