/**
 * Form Variables
 */
// Form List
$form-list-gutter: 18; // tablet, desktop

// Inputs
$input-border-color: $gray-1;
$input-padding: rem(20) rem(23);
$input-placeholder-color: $gray-5;

// Select
$select-padding: rem(20) rem(23);