/**
 * intrinsic ratios
 */
$intrinsic-ratios: (
	home-hero-text: (
		null: 1594/194
	),
	product: 1244/1384,
	swatch: 1/1,
	square: 1/1,
	/*spark-rev: 707/132,*/
	spark-rev: 713/96,
	hashtag-logo: 850/182,
	vid: 16/9,
	ir--product-photo-odd: 635/709
);